<div class="page" *ngIf="!loadingService.isLoading">
  <div class="row">
    <label>Limit (hours per week)</label>
    <input type="number" placeholder="Limit" [(ngModel)]="limit">
  </div>
  <div class="row">
    <label>Rate ($ per hour)</label>
    <input type="number" placeholder="Rate" [(ngModel)]="rate">
  </div>
  <div class="row">
    <label>Currency label</label>
    <input
      type="text"
      placeholder="LTC"
      [(ngModel)]="crypto"
      spellcheck=false
    >
  </div>
  <div class="row">
    <label>Crypto address</label>
    <input
      type="text"
      placeholder="Address"
      [(ngModel)]="address"
      spellcheck=false
    >
  </div>
  <div class="row">
    <label>% fee</label>
    <input type="number" placeholder="%" [(ngModel)]="feeP">
  </div>
  <div class="row">
    <label>$ fee</label>
    <input type="number" placeholder="$" [(ngModel)]="feeC">
  </div>
  <div class="row">
    <label>From</label>
    <input
      type="text"
      placeholder="Name"
      [(ngModel)]="billFrom"
      spellcheck=false
    >
  </div>
  <div class="row">
    <label>Bill To</label>
    <input
      type="text"
      placeholder="Bill To"
      [(ngModel)]="billTo"
      spellcheck=false
    >
  </div>
  <div class="row button" *ngIf="authService.isAdmin">
    <button class="active-button" (click)="save()">
      Save
    </button>
  </div>
  <div class="back">
    <a class="active-button" [routerLink]="['/menu']">
      Back
    </a>
  </div>
</div>
