.page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  >.flex {
    >button {
      padding: 7px;
      width: 250px;
      font-size: 17px;
      text-transform: capitalize;
    }
  }
}
