<div class="page" *ngIf="!loadingService.isLoading">
  <div class="header panel">
    <a
      class="active-button"
      [routerLink]="['/invoices']"
      [queryParams]="{ tab: isSent ? 'paid' : 'unpaid' }"
    >Back</a>
    <div class="active-button" (click)="download()" *ngIf="isSent">Download</div>
  </div>
  <div class="invoice">
    <div class="header">
      <div class="about">
        <div class="title">invoice</div>
        <div class="card">
          <label>Invoice #:</label>
          <div class="value">{{ invoice.id }}</div>
        </div>
        <div class="card">
          <label>Description:</label>
          <div class="value">Web Development</div>
        </div>
      </div>
      <div class="name">
        <div class="logo">
          <img src="/assets/webdevelopland.png">
        </div>
        <div class="card">
          <label>From:</label>
          <div class="value">{{ invoice.billFrom }}</div>
        </div>
        <div class="card">
          <label>Bill to:</label>
          <div class="value">{{ invoice.billTo }}</div>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="card">
        <label>Period:</label>
        <div class="value">
          {{ invoice.started }} - {{ invoice.ended }}
        </div>
      </div>
      <div class="card">
        <label>Duration:</label>
        <div class="value">
          {{ invoice.duration }} hrs
        </div>
      </div>
      <div class="card">
        <label>Rate:</label>
        <div class="value">
          {{ invoice.rate }}$ per hour
        </div>
      </div>
      <div class="card" *ngIf="invoice.totalUsd !== invoice.totalBeforeFee">
        <label>Hours USD:</label>
        <div class="value">
          {{ invoice.totalBeforeFee }}$
        </div>
      </div>
      <div class="card" *ngIf="invoice.feeP">
        <label>% fee:</label>
        <div class="value">
          - {{ invoice.feeP }}%
        </div>
      </div>
      <div class="card" *ngIf="invoice.feeC">
        <label>$ fee:</label>
        <div class="value">
          - {{ invoice.feeC }}$
        </div>
      </div>
      <div class="card">
        <label>Total USD:</label>
        <div class="value">
          {{ invoice.totalUsd }}$
        </div>
      </div>
      <div class="card crypto">
        <label>{{ invoice.label }} price:</label>
        <div class="value" *ngIf="!isLoading">
          {{ price }}$
        </div>
        <mat-spinner [diameter]="17" *ngIf="isLoading" color="accent"></mat-spinner>
      </div>
      <div class="card">
        <label>TOTAL:</label>
        <div class="value" *ngIf="!isLoading">
          {{ total }} {{ invoice.label }}
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="reminder">
        <div class="line">Send to: {{ invoice.address }}</div>
        <div class="line">before {{ invoice.before }}</div>
      </div>
      <div class="sent" *ngIf="isSent">
        Sent: {{ sent }}
      </div>
    </div>
  </div>
  <div class="footer panel" *ngIf="!isSent">
    <div class="active-button" (click)="calculate()">Refresh</div>
    <div class="active-button" (click)="pay()">Paid</div>
  </div>
</div>
