<div *ngIf="isLoading">
  Loading
</div>
<div *ngIf="!isLoading">
  <div class="row" *ngFor="let project of getProjects()">
    {{ project.label }} {{ timeConversion(project.display) }}
    <button *ngIf="!project.started" (click)="start(project.label)">Start</button>
    <button *ngIf="project.started" (click)="stopClick(project.label)">Stop</button>
    <button (click)="remove(project.id)">Remove</button>
  </div>
  <div class="row add">
    <input type="text" #addInput>
    <button (click)="add(addInput)">Add</button>
  </div>
  <div class="row">
    <button (click)="reset()">Reset</button>
  </div>
</div>
