.page {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  >.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    >.active-button {
      display: block;
      padding: 6px 20px;
      box-sizing: border-box;
    }
  }
  >.list {
    overflow-y: auto;
    >.invoice {
      background: white;
      border-radius: 6px;
      color: #333;
      display: flex;
      padding: 10px;
      height: 24px;
      margin-bottom: 10px;
      justify-content: space-between;
      align-items: center;
      max-width: 300px;
      cursor: pointer;
      text-decoration: none;
      >.placeholder {
        flex: 1;
      }
      >.mat-icon {
        color: #6fda44;
        margin-right: 10px;
      }
    }
  }
}
