<div class="page" *ngIf="!loadingService.isLoading">
  <div class="header">
    <a class="active-button" [routerLink]="['/menu']">Back</a>
    <div class="tab" *ngIf="!isFilterPaid">Unpaid invoices</div>
    <div class="tab" *ngIf="isFilterPaid">Paid invoices</div>
    <mat-slide-toggle [formControl]="toggle"></mat-slide-toggle>
  </div>
  <div class="list">
    <a class="invoice" *ngFor="let invoice of invoices" [routerLink]="['/invoice/' + invoice.id]">
      <div class="id">{{ invoice.id }}</div>
      <div class="date">{{ invoice.timestamp | date:'dd/MM/yyyy' }}</div>
      <div class="placeholder"></div>
      <mat-icon *ngIf="invoice.isPaid">done</mat-icon>
      <div class="total">{{ invoice.totalPrice }}$</div>
    </a>
  </div>
</div>
