.login-page {
  display: flex;
  justify-content: center;
  width: 100%;
  button {
    background-color: #1668b9;
    color: #f7fAff;
    font-size: 18px;
    border-radius: 8px;
    font-weight: bold;
    width: 241px;
    height: 39px;
    cursor: pointer;
    outline: none;
    border: 0;
    margin-top: 40px;
  }
}
