<div class="page" *ngIf="!loadingService.isLoading">
  <div class="header panel">
    <a class="active-button" [routerLink]="['/milestones']">Back</a>
    <div class="active-button" (click)="action()" *ngIf="authService.isAdmin && state.isCurrent">
      Action
    </div>
  </div>
  <div class="fixed id">{{ state.id }}</div>
  <div class="body">
    <div class="header">
      <div class="stats">
        <div class="card">
          <label>Started:</label>
          <div class="value">{{ state.milestone.started }}</div>
        </div>
        <div class="card">
          <label>Ended:</label>
          <div class="value">{{ state.milestone.ended }}</div>
        </div>
        <div class="card">
          <label>Duration:</label>
          <div class="value">{{ state.milestone.duration }}</div>
        </div>
        <div class="card">
          <label>Tracked time:</label>
          <div class="value">{{ state.milestone.tracked }} hrs</div>
        </div>
        <div class="card">
          <label>Limit:</label>
          <div class="value link">
            <a class="active-button" [routerLink]="['/chart', state.id]">
              {{ state.milestone.status }}%
            </a>
          </div>
        </div>
        <div class="card">
          <label>Rate:</label>
          <div class="value">{{ state.milestone.rate }}$ per hour</div>
        </div>
        <div class="card">
          <label>USD:</label>
          <div class="value">{{ state.milestone.usd }}$</div>
        </div>
        <ng-container *ngIf="state.isCurrent && !isRatesError">
          <div class="card" *ngIf="state.milestone.usd !== state.milestone.left">
            <label>USD left:</label>
            <div class="value">{{ state.milestone.left }}$</div>
          </div>
          <div class="card">
            <label>{{ state.milestone.label }}:</label>
            <div class="value">{{ state.milestone.crypto }}</div>
          </div>
          <div class="card">
            <label>{{ state.milestone.label }} price:</label>
            <div class="value">{{ state.price }}$</div>
          </div>
        </ng-container>
      </div>
      <div class="bubbles">
        <ng-container *ngIf="state.invoices.length > 0">
          <div class="title">Invoices:</div>
          <ng-container *ngFor="let invoice of state.invoices">
            <a class="active-button" [routerLink]="invoice.url">{{ invoice.label }}</a>
          </ng-container>
          <div class="placeholder"></div>
        </ng-container>

        <div class="title">Bubbles:</div>
        <ng-container *ngFor="let bubble of state.bubbles">
          <a class="active-button" [routerLink]="bubble.url">{{ bubble.label }}</a>
        </ng-container>
      </div>
    </div>
    <div class="activity" *ngIf="state.activity">
      <div class="time">
        <div class="six">6:00</div>
        <div class="twelve">12:00</div>
        <div class="eighteen">18:00</div>
      </div>
      <div class="week" *ngFor="let week of state.activity.weeks">
        <div class="day" *ngFor="let day of week.days">
          <div class="date">{{ day.date }}</div>
          <div class="quarter" *ngFor="let quarter of day.quarters">
            <div class="hour" *ngFor="let hour of quarter.hours">
              <div class="status"
                [style.opacity]="hour.progress"
                [matTooltip]="hour.hrs"
              ></div>
            </div>
          </div>
          <div class="weekday"
            [matTooltip]="day.hrs"
            matTooltipPosition="right"
          >{{ day.label }}</div>
        </div>
        <div class="week-info" *ngIf="week.usd > 0">
          {{ week.hrs }} hrs, {{ week.usd }}$
        </div>
      </div>
    </div>
  </div>
</div>
